@font-face {
  src: url(../../assets/fonts/Georgia.ttf);
  font-family: "georgia";
}
@font-face {
  src: url(../../assets/fonts/ArialMT.woff);
  font-family: "arial";
}
* {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
  -webkit-text-size-adjust: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-size: 1em;
}
em,
strong,
i,
b,
address,
cite {
  font-style: normal;
  font-weight: 500;
}
ul {
  list-style: none;
}
input {
  border: none;
}
input[type="submit"],
button {
  cursor: pointer;
  background: transparent;
  border: 0;
}
img {
  max-width: 100%;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}
body {
  width: 100%;
  height: 100%;
  font-family: "arial";
  font-size: 15px;
}
body,
a {
  color: #4c4c4c;
  --gray: #545454;
}
html {
  scroll-behavior: smooth;
}

.main-title {
  font-size: 25px;
  line-height: 1.3;
  letter-spacing: 1px;
  font-family: "georgia";
}
.block-title {
  font-family: "georgia";
  font-size: 25px;
  letter-spacing: 2px;
}
.main-title span,
.block-title span {
  margin-bottom: 5px;
}
.main-title span:last-child,
.block-title span:last-child {
  margin-bottom: 0;
}

.btn-filled,
.btn-border {
  font-family: "georgia";
  font-size: 17px;
  border-radius: 26px;
  letter-spacing: 1px;
  transition: 0.35s ease;
}
.btn-border {
  padding: 15px 44px;
}
.btn-filled {
  padding: 16px 45px;
  background-color: #f1cdb3;
}
.btn-circle {
  width: 52px;
  flex: 0 0 52px;
  height: 52px;
  border-radius: 100%;
  transition: 0.35s ease;
  font-family: "georgia";
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-circle svg {
  width: 14px;
}
.btn-border,
.btn-circle {
  border: 2px solid #f1cdb3;
}
.btn-filled:hover,
.btn-border:hover,
.btn-circle:hover {
  background-color: #fddcc4;
}
.btn-border:hover,
.btn-circle:hover {
  border-color: #fddcc4;
}
.btn-circle-active {
  background-color: #f1cdb3;
  border-color: #f1cdb3;
}
.btn-circle-inactive,
.btn-circle-inactive:hover {
  border-color: #cdcdcd;
  color: #cdcdcd;
}
.btn-circle-inactive:hover {
  background-color: transparent;
}

.popup {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  transform: scale(0);
  overflow: hidden;
  transition: 0.5s ease;
}
.popup-active {
  backdrop-filter: blur(2px);
  transform: scale(1);
}
.popup-bgc {
  width: 100%;
  height: 100%;
  position: absolute;
}
.popup-inner {
  border: 1px solid #f1cdb3;
  width: 240px;
  position: relative;
  z-index: 10;
  border-radius: 9px;
  background-color: #fff;
  font-family: georgia;
}
.popup-photo {
  display: none;
}
.popup-right {
  padding: 10px;
}
.popup-inner-name {
  font-size: 35px;
  line-height: 46px;
  text-align: center;
}
.popup-inner-animal {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-top: 10px;
}
.popup-inner-description {
  font-size: 13px;
  line-height: 14.3px;
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 24px;
}
.popup-inner-specifications li {
  margin-top: 6px;
  text-align: left;
}
.popup-inner-specifications li:first-child {
  margin-top: 0;
}
.popup-inner-specifications li:before {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  display: inline-block;
  content: "";
  background-color: #f1cdb3;
  margin-right: 10px;
  margin-bottom: 3px;
}
.popup-inner-spec-name {
  font-weight: 700;
  margin-right: 7px;
  display: inline;
}
.popup-inner-spec-value {
  display: inline;
}
.popup-close {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
}
.popup-close:after,
.popup-close:before {
  display: table;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #292929;
  position: absolute;
}
.popup-close:after {
  transform: rotate(45deg);
}
.popup-close:before {
  transform: rotate(-45deg);
}

.section {
  width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}

.pets-head .head-logo strong,
.pets-head .head-logo span {
  color: var(--gray);
}
.main-head {
  width: 100vw;
  position: absolute;
}
.head {
  padding: 30px 0;
}
.head-section {
  width: 320px;
  position: relative;
  margin: 0 0 0 auto;
}
.head input {
  display: none;
}
.head-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  right: 40px;
  top: 20px;
  transition: 0.35s ease;
}
.head-burger:hover {
  cursor: pointer;
}
.head-burger span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #f1cdb3;
}
.head-burger span:nth-child(2) {
  margin: 10px 0;
}
.head-logo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 99;
}
.head-logo strong {
  font-family: "georgia";
  font-size: 32px;
  letter-spacing: 2px;
  color: #f1cdb3;
}
.head-logo span {
  font-size: 13px;
  letter-spacing: 1.4px;
  margin-top: 10px;
}
.head-logo,
.head-link {
  color: #fff;
}
.head-nav {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: 90;
  top: -30px;
  left: 0;
  padding: 80px 20px 0;
  transition: 0.35s ease;
  background-color: #292929;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(100%);
}
.head-burger-active .head-nav {
  transform: translateX(0);
}
.head-burger-active .head-burger {
  transform: rotate(90deg);
}
.head-link {
  color: #fff;
  margin: 20px 0;
  opacity: 0.7;
  font-size: 32px;
  line-height: 51px;
}
.head-link-active {
  opacity: 1;
}
.head-link:after {
  display: table;
  content: "";
  width: 100%;
  height: 3px;
  background-color: transparent;
  margin-top: 4px;
  transition: 0.35s ease;
}
.head-link-active:after,
.head-link:hover:after {
  background-color: #f1cdb3;
}

main {
  position: relative;
}

.banner {
  background: linear-gradient(90deg, #5b483a, #262425, #211f20);
  padding-top: 150px;
  color: #fff;
  text-align: center;
}
.banner .main-title span {
  display: block;
}
.banner-left {
  margin-bottom: 105px;
}
.banner-right {
  padding-left: 40px;
}
.banner-right img {
  margin-bottom: -4px;
}
.banner-text {
  margin-top: 42px;
  margin-bottom: 42px;
  line-height: 24px;
  color: #cdcdcd;
}

.about,
.friends,
.help,
.donation {
  padding: 42px 0;
}
.about .section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about .block-title {
  text-align: center;
}
.about-left {
  width: 260px;
  margin: 42px auto 0;
  order: 2;
}
.about-text {
  width: 270px;
  line-height: 24px;
  text-align: justify;
  margin: 26px auto 0;
}

.friends,
.donation {
  background-color: #f6f6f6;
}
.friends .section,
.slider-item,
.friends-slider,
.slider-cont,
.slider-item-photo {
  display: flex;
  align-items: center;
}
.friends .section,
.slider-item {
  flex-direction: column;
}
.friends .section {
  text-align: center;
}
.friends .block-title span {
  display: block;
}
.friends-slider {
  width: 100%;
  margin: 42px 0;
  flex-wrap: wrap;
  justify-content: center;
}
.slider-cont {
  flex: 0 0 270px;
  overflow: hidden;
  margin-bottom: 20px;
}
.slider-item {
  flex: 0 0 270px;
  padding-bottom: 30px;
  background-color: #fafafa;
  transition: 0.35s ease;
  border-radius: 9px;
  overflow: hidden;
  animation: loyalItem 0.5s;
}
@keyframes loyalItem {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slider-item:hover {
  background-color: #fff;
}
.slider-item-photo {
  width: 100%;
  height: 270px;
  justify-content: center;
}
.slider-item-name {
  font-family: "georgia";
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 32px;
  margin-bottom: 30px;
}
.slider-arrow-left,
.slider-arrow-right {
  order: 1;
}
.slider-arrow-left {
  margin-right: 80px;
}

.help {
  text-align: center;
}
.help .block-title span {
  display: block;
}
.help-block,
.help-item {
  display: flex;
  align-items: center;
}
.help-block {
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 12px;
}
.help-item {
  flex-direction: column;
  flex: 0 0 50%;
  margin-top: 30px;
}
.help-item img {
  max-width: 50px;
}
.help-item-name {
  font-family: "georgia";
  font-size: 15px;
  letter-spacing: 1.2px;
  margin-top: 20px;
}

.donation {
  text-align: center;
}
.donation .section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.donation-left {
  width: 260px;
  margin-top: 42px;
  order: 2;
}
.donation-card,
.donation-info {
  margin-top: 20px;
}
.donation-bank {
  display: block;
  margin-top: 20px;
}
.donation-card {
  padding: 10px 15px;
  background-color: #f1cdb3;
  border-radius: 9px;
  display: flex;
  align-items: center;
  transition: 0.35s ease;
}
.donation-card:hover {
  background-color: #fddcc4;
}
.donation-card svg {
  margin-right: 14px;
}
.donation-card span {
  font-family: "georgia";
  letter-spacing: 1.2px;
}
.donation-info {
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
  letter-spacing: 0.3px;
  text-align: justify;
}

.look {
  background-color: #f6f6f6;
  text-align: center;
}
.look .section {
  padding: 40px 10px 30px;
}
.look .slider-item {
  margin-bottom: 28px;
}
.look .slider-item .slider-item-name {
  margin: 30px 0;
}
.look-list {
  max-height: 1454px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0 30px;
}
.look-pagination {
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.foot {
  background: linear-gradient(90deg, #5b483a, #262425, #211f20);
  text-align: center;
  position: relative;
}
.foot .block-title {
  color: #fff;
  padding-top: 30px;
}
.foot-cont {
  margin-top: 40px;
}
.foot-cont {
  width: 100%;
  display: flex;
  align-items: center;
  color: #f1cdb3;
  font: 20px "georgia";
  text-align: left;
  letter-spacing: 1.2px;
}
.foot-col:first-child .foot-cont {
  padding-left: 10px;
}
.foot-cont svg {
  margin-right: 20px;
}
.foot-img {
  margin-top: 90px;
  margin-bottom: -3px;
}
@keyframes loyal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
